<h1>糖質カウンター</h1>

<%#= @hogr %>

<!-- 入力フォーム -->
<%= form_tag('index',:method => :get) do %>
	<% 10.times.each do |i| %>
		食品名
		<%= select_tag "food_id_#{i}", options_for_select(@foods_for_select) %>
		量（g）
		<%= text_field_tag("amount_g_#{i}") %><br />
	<% end %>

	<%= submit_tag "計算する" %>
<% end %>
<br />

<!-- 各食材の糖質量の計算結果を表示する -->
<% 10.times.each do |i| %>
	<% if @foods[i] %>
		<%= @foods[i][:food].name %> <%= @foods[i][:gram] %>g の糖質量 : <%= @foods[i][:carb] %>g<br />
	<% end %>
<% end %>


<!-- 全食材の糖質量の合計を表示する -->
<p>糖質量合計 : <%= @calc_total %>g</p>



